*{
    transition: all 1s;
    padding: 1px;
    margin: 7px;
    
}

section{
    display: flex;
    flex-direction: row;
}

.applePie{
    background-image:url("../images/apple-pie.jpg");
    height: 400px;
    width: 600px;
    color: white;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

    .recipe, .description{
    width: 40%;
    text-align: center;
    margin: 15px;
    border: 3px
}


.cookingInfo{
    width: 300px
    
}

h1{
    text-align:left;
}   

ul,ol{
    width: 600px;
    text-align: left;
    margin: 15px;
}